.hero-wrapper {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container {
        margin: auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: clip;

        .brand {
            margin: auto auto;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px 0 5px 0;
            width: 100%;
        }
    }
}

.onsite {
  min-height: 50vh;
}

.onsite .social-bar {
  display: none;
}

.rgb {
  animation: filter-animation 30s infinite, img-glitch 15s infinite;
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(50deg);
  }

  50% {
    filter: hue-rotate(-50deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

h1.hero-title {
    font-size: 2.2em;
}

h1.hero-title a {
    text-decoration: none;
    color: inherit;
}

h2.hero-title {
    font-size: 1.5em;
}

.container h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .brand img {
        width: 100%;
    }
}
