.hero-wrapper {
    background: url('img/nix-vegas.png') no-repeat center center;
    background-position: 50% 50%;
    background-size: fill;
    background-color: #000;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container {
        margin: auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: clip;

        .brand {
            margin: auto auto;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px 0 5px 0;
            width: 100%;
        }
    }
}

.rgb {
  animation: filter-animation 15s infinite, img-glitch 15s infinite;
}

@keyframes img-glitch {
  0%,
  19.9%,
  24.5%,
  34.9%,
  37%,
  49.9%,
  54%,
  74.9%,
  77.5%,
  89.9%,
  95%,
  100% {
    background: url('img/nix-vegas.png') no-repeat center center;
    background-size: fill;
    background-color: #000;
  }
  20% {
    background: url('img/nix-vegas-glitched1.png') no-repeat center center;
    background-size: fill;
    background-color: #000;
  }
  35% {
    background: url('img/nix-vegas-glitched2.png') no-repeat center center;
    background-size: fill;
    background-color: #000;
  }
  50% {
    background: url('img/nix-vegas-glitched3.png') no-repeat center center;
    background-size: fill;
    background-color: #000;
  }
  75% {
    background: url('img/nix-vegas-glitched4.png') no-repeat center center;
    background-size: fill;
    background-color: #000;
  }
  90% {
    background: url('img/nix-vegas-glitched5.png') no-repeat center center;
    background-size: fill;
    background-color: #000;
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(-80deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

h1.hero-title {
    font-size: 2.2em;
}

h1.hero-title a {
    text-decoration: none;
    color: inherit;
}

h2.hero-title {
    font-size: 1.5em;
}

.container h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .brand img {
        width: 100%;
    }
}
