.hero-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.brand {
    background: #1f1f1f;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}

.rgb {
  animation: filter-animation 30s infinite, img-glitch 15s infinite;
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(50deg);
  }

  50% {
    filter: hue-rotate(-50deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

h1.hero-title {
    font-size: 2.2em;
}

h1.hero-title a {
    text-decoration: none;
    color: inherit;
}

h2.hero-title {
    font-size: 1.5em;
}

.container h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .brand img {
        width: 100%;
    }
}
