<h3>Install NixOS {{ config.extra.nixos_version }}</h3>

<h4>ISOs</h4>

<ul>
  {% for iso_link in config.extra.isos %}
  <li><a href="/{{ iso_link }}">{{iso_link | split(pat="/") | last}}</a></li>
  {% endfor %}
</ul>

<h4>Proxmox Images</h4>

<ul>
{% for vma_link in config.extra.vmas %}
  <li><a href="/{{ vma_link }}">{{vma_link | split(pat="/") | last}}</a></li>
{% endfor %}
</ul>

<h4>Docs</h4>

<ul>
{% if config.extra.manual %}
  <li><a href="/{{ config.extra.manual }}">Manual</a></li>
{% endif %}

{% if config.extra.search %}
  <li><a href="/{{ config.extra.search }}">Search</a></li>
{% endif %}
</ul>

