{% import "macros/social.html" as social -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {%- block title -%}
        {{ social::og_title() }}
      {%- endblock -%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ config.title }}">
    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="Nix Vegas Organizers">
    <meta name="fediverse:creator" content="@nixvegas@defcon.social">
    <meta property="og:locale" content="en_US:utf-8">
    <meta property="og:site_name" content="{{ config.title }}">
    {%- block og_preview -%}
      {{ social::og_preview() }}
    {%- endblock og_preview -%}

    {%- block twitter_preview -%}
      {{ social::twitter_preview() }}
    {%- endblock twitter_preview -%}

    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon.png">
    <link rel="preload" as="image" href="img/nix-vegas.png">
    <link rel="preload" as="image" href="img/nix-vegas-glitched1.png">
    <link rel="preload" as="image" href="img/nix-vegas-glitched2.png">
    <link rel="preload" as="image" href="img/nix-vegas-glitched3.png">
    <link rel="preload" as="image" href="img/nix-vegas-glitched4.png">
    <link rel="preload" as="image" href="img/nix-vegas-glitched5.png">
  </head>
  <body>
    {% include 'components/hero.html' %}
    {% include 'components/navigation.html' %}
    {% block before_content %}
    {% endblock %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'components/footer.html' %}
  </body>
</html>
