{% import "macros/social.html" as social -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {%- block title -%}
        {{ social::og_title() }}
      {%- endblock -%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ config.title }}">
    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="{{ config.title }} Organizers">
    <meta name="fediverse:creator" content="{{ config.extra.masto_user }}">
    <meta property="og:locale" content="en_US:utf-8">
    <meta property="og:site_name" content="{{ config.title }}">
    {%- block og_preview -%}
      {{ social::og_preview() }}
    {%- endblock og_preview -%}

    {%- block twitter_preview -%}
      {{ social::twitter_preview() }}
    {%- endblock twitter_preview -%}

    <link rel="stylesheet" href="/style.css">

    {% set_global year_prefix = "" %}
    {% set_global year_dir = "" %}
    {% if current_path is matching("^/[0-9]{4}/") %}
      {% set_global year_dir = current_path | split(pat="/") | nth(n=1) %}
      {% set_global year_prefix = "/" ~ year_dir %}
    {% endif %}

    {% if year_dir %}
      {% set_global year_section = get_section(path=year_dir ~ "/_index.md") %}
    {% else %}
      {% set_global year_section = get_section(path="_index.md") %}
    {% endif %}

    <link rel="icon" type="image/x-icon" href="{{ year_section.extra.favicon_ico }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ year_section.extra.favicon_16 }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ year_section.extra.favicon_32 }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ year_section.extra.favicon_48 }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ year_section.extra.favicon_512 }}">
    <link rel="preload" as="image" href="{{ year_section.extra.hero_img }}">
    {% for img in year_section.extra.hero_glitch_imgs %}
    <link rel="preload" as="image" href="{{ img }}">
    {% endfor %}
  </head>
  <body>
    {% include 'components/hero.html' %}
    {% include 'components/navigation.html' %}
    {% block before_content %}
    {% endblock %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'components/footer.html' %}
  </body>
</html>
