{% extends 'base.html' %} {% block content %}

{% set schedule = load_data(path="data/schedule.json", format="json") %}
{{ page.content | safe }}

<nav class="schedule-navigation">
  <div class="left">
    <h2>
      Schedule
    </h2>
  </div>

  <div class="schedule-navigation-footer">
    <p>
        The schedule is also available <a href="https://hackertracker.app/schedule/?conf=DEFCON33&tag=48148">on Hacker Tracker</a>!
    </p>
  </div>
</nav>


{% for day_content in schedule %}
<div class="schedule-day">
  <div class="schedule-day-header">
    {# NB: Sessionize provides this as a UTC timestamp starting at midnight. If we convert to local time, the day is wrong. #}
    <h2>{{ day_content.date | date(format="%A - %B %eth, %Y") }}</h2>
  </div>
  {% for room in day_content.rooms %}
  <div class="schedule-room">
    <div class="schedule-room-header">
      <h3>{{ room.name }}</h3>
    </div>

    <div class="schedule-room-items">

      {% for session in room.sessions %}
      <div class="schedule-item"
        style="grid-row:  time-{{ session.startsAt | date(format="%H%M", timezone=config.extra.timezone) }} /  time-{{ session.endsAt | date(format="%H%M", timezone=config.extra.timezone) }};"
      >
          <span class="time">
          {{ session.startsAt | date(format="%H:%M", timezone=config.extra.timezone) }} - {{ session.endsAt |
            date(format="%H:%M", timezone=config.extra.timezone) }}
          </span>
          <h3>{{ session.title }}</h3>

          <div class="schedule-item-speakers">
            {% for speaker in session.speakers %}
            <span>{{ speaker.name }}</span>
            {% endfor %}
          </div>
          <p class="schedule-description">{{ session.description }}</p>
      </div>

      {% endfor %}
    </div>

  </div>
  {% endfor %}

</div>
{% endfor %}

{% endblock %}
