{% extends 'base.html' %} {% block content %} {% set speakers =
load_data(path="data/speakers-filtered.json", format="json") %} {{ page.content
| safe }} {% for speaker in speakers %}
<div class="speaker-item">
  <div class="speaker-image">
    <img
      src="{{ speaker.profilePicture }}"
      alt="{{ speaker.fullName }}"
    />
  </div>
  <div class="speaker-info">
    <h2 id="{{ speaker.fullName | lower | replace(from=` `, to=`-`) }}">
      <a href="#{{ speaker.fullName | lower | replace(from=` `, to=`-`) }}">
      {{ speaker.fullName }}
    </a>
    </h2>
    <p>{{ speaker.bio }}</p>
    {% if speaker.links[0] %}
    <h3>Links</h3>
    <ul>
      {% for link in speaker.links %}
      <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <h3>Sessions</h3>
    <ul>
      {% for session in speaker.sessions %}
      <li>{{ session.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %} {% endblock %}
