<div class="hero-wrapper rgb">
    <div class="container">
        <figure class="brand">
            <h1 class="hero-title glitch" data-text="Nix Vegas"><span><a href="/">Nix Vegas</a></span></h1>
            <h2 class="hero-title glitch" data-text="REBUILD THE WORLD"><span>REBUILD THE WORLD</span></h2>
            <h3 class="hero-subtitle glitch"><span>August 7-10, 2025, <a target="_blank" href="https://defcon.org">DEF CON 33</a></h3>
            <h4 class="hero-subtitle">
				<em>CFP has ended. Check out our <a href="/schedule">schedule</a> and <a href="/speakers">speaker list</a>!</em>
				<br />
                <em>Artwork by Kenz Tobias (<a href="https://www.twitch.tv/kenz_tobias_art" target="_blank">Twitch</a>; <a href="https://www.instagram.com/kenz_tobias_art" target="_blank">Instagram</a>)</em>
            </h4>
        </figure>
        {% include 'components/social-bar.html' %}
    </div>
</div>
