<div class="hero-wrapper">
    <div class="container">
        <figure class="brand">
            <img src="/img/nix-vegas.gif" alt="Nix Vegas" class="logo glitch" width="500">
            <h1 class="hero-title glitch layers" data-text="August 7-10, 2025"><span>August 7-10, 2025</span></h1>
            <h2 class="hero-title glitch layers" data-text="Mass rebuilding the digital commons from scratch since 2003"><span>Mass rebuilding the digital commons from scratch since 2003</span></h2>
            <h3 class="hero-subtitle glitch layers"><span><a target="_blank" href="https://defcon.org">at DEF CON 33</a></h3>
            {% include 'components/social-bar.html' %}
        </figure>
    </div>
</div>
