<header>
  <nav class="nav-header container">
    <ul>
      {% if config.extra.onsite %}
        <li><a href="{{ year_prefix }}/">Welcome</a></li>
        <li><a href="{{ year_prefix }}/#sponsors">Sponsors</a></li>
        <li><a href="{{ year_prefix }}/schedule">Schedule</a></li>
        <li><a href="{{ year_prefix }}/speakers">Speakers</a></li>
      {% else %}
        <li><a href="{{ year_prefix }}/">Home</a></li>
        <li><a href="{{ year_prefix }}/#sponsors">Sponsors</a></li>
        <li><a href="{{ year_prefix }}/about">About</a></li>
        {% if year_dir %}
          <li><a href="{{ year_prefix }}/schedule">Schedule</a></li>
          <li><a href="{{ year_prefix }}/speakers">Speakers</a></li>
        {% else %}
          <li><a href="https://cfp.nix.vegas/{{ config.extra.cfp_year }}">CFP</a></li>
        {% endif %}
        <li><a href="/blog">Blog</a></li>
        {% if not year_dir %}
          <li><a href="/2025">Archive</a></li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>
</header>
