<header>
  <nav class="nav-header container">
    <ul>
      <li>
        <a href="/#about">About</a>
      </li>
      <li>
        <a href="/#location">Location</a>
      </li>
      <!-- <li
      {% if current_path == '/schedule/' %}
        class="active"
      {% endif %}>
        <a 
        href="/schedule"
        >Schedule</a>
      </li> -->
      <!-- <li>
        <a href="/#faq">FAQ</a>
      </li> -->
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
