{% set current_year = config.extra.current_year %}
{% set viewing_current_year = (year_dir == current_year) or (year_dir == "") %}

<header>
  <nav class="nav-header container">
    <ul>
      {% if year_dir %}
        <li><a href="/{{ year_dir }}/">Home</a></li>
        <li><a href="/{{ year_dir }}/about">About</a></li>
        <li><a href="/{{ year_dir }}/schedule">Schedule</a></li>
        <li><a href="/{{ year_dir }}/speakers">Speakers</a></li>
        <li><a href="/{{ year_dir }}/onsite">Onsite</a></li>
        {% if not viewing_current_year %}
          <li><a href="/{{ current_year }}/">Current event →</a></li>
        {% endif %}
      {% else %}
        <li><a href="/">Home</a></li>
        <li><a href="/{{ current_year }}/">Current event</a></li>
        <li><a href="/{{ current_year }}/about">About</a></li>
        <li><a href="https://cfp.nix.vegas/{{ config.extra.cfp_year }}">CFP</a></li>
      {% endif %}
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
