<div class="social-bar">
    <a href="https://github.com/NixVegas"
       target="_blank"
       class="social-icon"
       title="@NixVegas on GitHub">
        <img src="/img/social-icons/github.svg" alt="@NixVegas on GitHub">
    </a>
    <a href="https://bsky.app/profile/nixvegas.bsky.social"
       target="_blank"
       class="social-icon"
       title="NixVegas on Bluesky">
        <img src="/img/social-icons/bluesky.svg" alt="NixVegas on Bluesky">
    </a>
    <a href="https://defcon.social/@nixvegas"
       target="_blank"
       rel="me"
       class="social-icon"
       title="NixVegas on Mastodon">
        <img src="/img/social-icons/mastodon.svg" alt="NixVegas on Mastodon">
    </a>
    <a href="https://x.com/NixVegas"
       target="_blank"
       class="social-icon"
       title="NixVegas on X">
        <img src="/img/social-icons/x.svg" alt="@NixVegas on X">
    </a>
    <a href="https://www.youtube.com/@NixVegasDEFCON"
       target="_blank"
       class="social-icon"
       title="NixVegas on YouTube">
        <img src="/img/social-icons/youtube.svg" alt="@NixVegasDEFCON on YouTube">
    </a>
    <a href="https://live.nix.vegas"
       target="_blank"
       class="social-icon"
       title="Nix Vegas Live">
        <img src="/img/social-icons/owncast.svg" alt="Nix Vegas Live">
    </a>
</div>
