<div class="social-bar">
    <a href="https://bsky.app/profile/nixvegas.bsky.social"
       class="social-icon"
       title="NixVegas on Bluesky"
       >
        <img src="/img/social-icons/bluesky.svg" alt="NixVegas on Bluesky">
    </a>
    <a href="https://defcon.social/@nixvegas"
       rel="me"
       class="social-icon"
       title="NixVegas on Mastodon">
        <img src="/img/social-icons/mastodon.svg" alt="NixVegas on Mastodon">
    </a>
    <a href="https://x.com/NixVegas"
       class="social-icon"
       title="NixVegas on X">
        <img src="/img/social-icons/x.svg" alt="@NixVegas on X">
    </a>
</div>
